html {
  font-family: Helvetica;
  text-align: center;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

p.link {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

.footer {
  text-align: left !important;
  background-color: dimgray;
}

h6 {
  font-size: 11px;
  color: white;
}

.link {
  font-size: 18px;
  color: white;
}
