html {
  font-family: Helvetica;
  text-align: center;
}

.header {
  background-image: url("file:///C:/cygwin64/home/socce/broadway/resources/images/the-flatiron-building.png");
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("file:///C:/cygwin64/home/socce/broadway/resources/images/the-flatiron-building.png");
}
